.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  text-align: ;
}
button {
  width: 100%;
  margin-bottom: 2%;
}
input {
  width: 100%;
  text-align: center;
}
.container {
  padding-top: 1%;
}
